<!DOCTYPE html>
<html>
<head>
    <title>Sample Chi with HTMX</title>
    <script src="/htmx-1.9.11.min.js"></script>
    <script>
      htmx.logAll();
    </script>
</head>
<body>
<h1>TODO List</h1>
{% include "./app/templates/todos/form.liquid" %}
{% include "./app/templates/todos/list.liquid" %}
</body>
</html>
